.textbook {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0 30px;
  background: url("../../assets/images/vocabulary.svg") calc(50% - 160px) 190px no-repeat;
}

.textbook__wrapper {
  max-width: 1580px;
  width: 100%;
}

.textbook-nav {
  align-items: baseline;
  background: linear-gradient(
    to top,
    #434263 0,
    #434263 3px,
    transparent 3px,
    transparent 18px,
    #434263 18px,
    #434263 21px,
    transparent 21px,
    transparent 36px,
    #434263 36px,
    #434263 39px,
    transparent 39px
  );
}

.textbook-nav__item-0 {
  display: none;
}

.textbook-nav__item-1 {
  margin-left: 60px;
  padding-bottom: 3px;
}

.textbook-nav__item-2 {
  margin-left: 40px;
  padding-bottom: 21px;
}

.textbook-nav__item-3 {
  margin-left: 40px;
  padding-bottom: 39px;
}

.textbook-nav__item__button {
  position: relative;
  padding-top: 45px;

  &.active,
  &:hover {
    &:before,
    &:after {
      border-bottom-color: #434263;
    }

    .textbook-nav__item__button__iw {
      background: #434263;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0px;
    height: 0px;
    transition: all .2s linear;
  }

  &:before {
    left: 0;
    border-right: 28px solid transparent;
    border-bottom: 45px solid #a1a1ae;
  }

  &:after {
    right: 0;
    border-left: 28px solid transparent;
    border-bottom: 45px solid #a1a1ae;
  }
}

.textbook-nav__item__button__iw {
  max-height: 255px;
  padding: 15px 10px 20px;
  background: #a1a1ae;
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  transition: all .2s linear;
  cursor: pointer;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
  user-select: none;
}

.textbook__tab-content {
  padding-top: 60px;
}

.textbook__title-wrapper,
.textbook__subtitle-wrapper {
  display: flex;
  justify-content: center;
}

.textbook__subtitle-wrapper {
  margin-bottom: 50px;
}

.textbook__title,
.textbook__subtitle {
  position: relative;
  margin-bottom: 0;
  background: #5f5e74;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
  user-select: none;

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
  }
}

.textbook__title {
  padding: 100px 75px;
  text-transform: uppercase;

  &:before {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 7px solid #fff;
  }
}

.textbook__subtitle {
  padding: 25px 50px;
  text-transform: capitalize;
  user-select: none;

  &:before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 4px solid #fff;
  }
}

.textbook__descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  font-size: 40px;
  line-height: 49px;
}

.vocabulary {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 50px;
  row-gap: 50px;
}

.vocabulary__word__block-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vocabulary__word__en-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: normal;
}

.vocabulary__controls-play {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.vocabulary__controls-delete {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: all .2s linear;
  opacity: 0;
  visibility: hidden;

  .vocabulary__word:hover & {
    opacity: 1;
    visibility: visible;
  }
}

.vocabulary__word__en {
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  word-wrap: break-word;
  overflow: hidden;
}

.vocabulary__word__transcription {
  margin-top: 5px;
  font-size: 20px;
  line-height: 24px;
}

.vocabulary__word__ru {
  margin-top: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  word-wrap: break-word;
  overflow: hidden;
}

.vocabulary__word__image {
  width: 185px;
  height: 185px;
  margin: 12px auto 0;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.vocabulary__word__example {
  margin-top: 10px;
  font-size: 19px;
  line-height: 23px;
}

.vocabulary__word__example__ru {
  margin-top: 15px;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.pager__text {
  font-size: 30px;
  line-height: 36px;
}

.pagination-wrapper {
  margin-left: 10px;
}

.pagination {
  margin-bottom: 0;
}

.pagination__item__link {
  display: block;
  padding: 6px 12px;
  color: #050537;
  font-size: 30px;
  line-height: 36px;
  transition: all .2s linear;

  &:hover,
  &_active {
    color: #050537;
    font-weight: bold;
  }
}
