ul.sav-game {
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  margin: 0;
  padding: 0;
  transition: top 10s linear;

  li {
    margin: 0 10px;
  }
}

ul.sav-game.move {
  top: 80%;
}

@media all and (max-width: 991px) {
  ul.sav-game {
    top: 15%;
  }
}