header {
  display: flex;
  align-items: center;
  height: 102px;
  background: #02073a;
}

.header__iw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1720px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__block {
  display: flex;
  align-items: center;
}

.menu-bars {
  height: 60px;

  span {
    display: block;
    width: 60px;
    height: 12px;
    border-radius: 5px;
    background: #fff;
  }

  span + span {
    margin-top: 12px;
  }
}

.header__logo {
  margin-left: 80px;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
}

.header__logo-p1 {
  color: #d7d7df;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__team-link {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 37px;
  text-decoration: none;
  transition: all .3s ease-in-out;

  &:hover {
    letter-spacing: 1px;
  }
}

.nav-menu {
  background-color: #02073a;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
