.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 170px;
  margin-top: 150px;

  &__github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;

    &__link {
      display: block;
      width: 55px;
      height: 55px;
      line-height: 0;
    }

    &__image {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__course-link {
    margin-left: 70px;
  }
}

.rss {
  display: block;
  position: relative;
  width: 135px;
  height: 50px;
  padding-right: 174px;
  background: url("../../assets/images/rs_school_js.svg") left center no-repeat;
  background-size: contain;

  &:hover .rss-year {
    right: -5px;
    letter-spacing: 0;
  }
}

.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #02073a;
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 23px;
  font-weight: bold;
  transition: 0.3s;
}
