.register__form {
  max-width: 717px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CCCCD4;
  &__label {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #201F4D;
    margin-top: 35px;
  }
  &__input {
    width: 80%;
    min-height: 46px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    line-height: 24px;
    color: #201F4D;
    padding: 4px 12px;
    margin: 10px 0;
    outline: none;
  }
  &__submit {
    max-width: 127px;
    width: 100%;
    min-height: 48px;
    border: none;
    border-radius: 3px;
    background-color: #434263;
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 31px;
    cursor: pointer;
    margin-bottom: 35px;
  }
}